/* MarketOverview.css */
.market-overview {
    background: #2c2f36;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .market-overview h2 {
    color: #00ffae;
    margin-bottom: 10px;
  }
  
  .top-gainers-losers {
    display: flex;
    justify-content: space-between;
  }
  
  .gainers, .losers {
    margin-right: 10px;
  }
  
  .gainers h3, .losers h3 {
    color: #fff;
  }
  
  /* CurrencyDetailCard.css */
  .currency-detail-card {
    background: #2c2f36;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
  }
  
  .currency-detail-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .crypto-header h3 {
    color: #00ffae;
    margin-bottom: 5px;
  }
  
  .crypto-actions button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .crypto-actions button:hover {
    background-color: #1abc9c;
  }
  .search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter-select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }